@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
background-color: #f9f9f9;
overflow-x: hidden;
}

header {
    background-color: #d83e00;
    color: white;
    padding: 2%;
    text-align: left;
    font-size: 150%;
    font-family: Agbalumo;
    font-size: 300%;
    display: flex;
    flex-wrap: wrap;
}

header > h1 {
    flex: auto;
}

.navBtn {
    flex: 50%;
    background-color: bisque;
    color: white;
    padding: 2%;
    border-radius: 10px;
    font-size: 80%;
}



.column {
    /* border: 1px solid black; */
    padding: 2%;
}

h1 {
    font-weight: bolder;
    font-size: 125%;
}

h3 {
    padding-bottom: 2%;
    font-weight: bolder;
    margin-right: 1%;
}

.inputText {
    width: 80%;
    padding: 1%;
    font-size: 100%;
}

.sBtn {
    padding: 1%;
    margin: 0 2%;
}

button#search.sBtn {
    border: 1px solid #d83e00;
    border-radius: 5px;
    background-color: #573D37;
    color: white;
    font-weight: bolder;

}


div#ingredients-div.column {
    border: 1px solid black;
    border-radius: 10px;
    border-color: #d83e00;
}

div#saved-recipe.column {
    margin: 2% 0;
    border: 1px solid black;
    border-radius: 10px;
    border-color: #d83e00;
    min-height: 100px;
}

ul#ingredient-list.foodList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


li.ingredient-item {
    flex: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 25px;
    margin-top: 25px;
}

/* button.remove {
    margin-left: 10px;
    padding: 2%;
} */

.remove {
    flex: 1 0 2%;
    margin-left: 5px;
    background-color: #d83e00;
    color: white;
}

.health-options{
    margin: 1%;
}

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    border-color: #d83e00;
    min-height: 100px;
}

.recResults {
    width: 100%;
    text-align: left;
}

#saved-recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0%;
    /* background-color: blue; */
}

.recipe {
    flex: 0 0 33%;
    justify-content: center;
    margin-bottom: 3%;
    background-color: white;
    border-radius: 5%;
}

.recipe-name {
text-align: center;

}

.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 2%;
}

.recipe-info {
    text-align: center;
}


.instructions {
    display: list-item;
    list-style-position: inside;
    margin-top: 5%;
}

li img {
    height: 150px;
}

#cocktail-list li {
    font-size: 24px;
}

button.save-btn {
    margin: 2% 42%;
    color: blue;
    padding: 2%;
}

div.columns.cocktailSearch {
    border: 1px solid #d83e00;
    border-radius: 10px;
    padding: 2%;
    width: 100%;
}

div#cocktail {
    width: 100%;
}

div.columns.cktResultsContainer {
    border: 1px solid #d83e00;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;

}

ul#cocktail-list {
    display: flex;
    flex-wrap: wrap;
}

input.user-ingredient {
    margin-top: 2%;
    padding: 1%;
    width: 30%;
}

button#drinkSearchBtn {
    padding: 1%;
    border: 1px solid #d83e00;

}



