@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
background-color: #f9f9f9;
overflow-x: hidden;
}

.container {
padding: 0 2%;
}

header {
    background-color: #d83e00;
    background-image: linear-gradient(to right, #d83e00 30%, #f9f9f9);
    color: white;
    padding: 2%;
    text-align: left;
    font-size: 150%;
    font-family: Agbalumo;
    font-size: 300%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

header > h1 {
    flex: auto;
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

header > nav {
    flex: auto;
    flex-basis: 30%;
}

.navBtn {
    margin: 10% 0 10% 50%;
    box-shadow: 10px 10px 8px #888888;
    border: 3px solid #3D8169;    
}

.navBtn:hover {
    margin: 10% 0 10% 50%;
    box-shadow: 10px 10px 8px #888888;
    border: 3px solid #573D37;    
}

.column {
    /* border: 1px solid black; */
    padding: 2% 2%;
}

h1 {
    font-weight: bolder;
    /* font-size: 125%; */
    font-size: 5vw;
}
h2 {
    font-size: 100%;
    font-weight: bold;
    padding: 2% 0;
}

.drinkH2 {
    font-size: 125%;
    font-weight: bolder;
    color: #573D37;
}

h3 {
    padding-bottom: 2%;
    font-weight: bolder;
    margin-right: 1%;
}

a {
    color: #3D8169; 
}

a:hover {
    font-weight: bolder;
    color: #964C3B;
}

.box {
    margin-top: 2%;
    margin-left: 1%;
}

.box ul li {
    list-style: none;
    padding: 5px;
    width: 100%;
    background: #fff;
    transition: transform 0.5s;
  }

.box ul li p {
    width: 100%;
    margin-left: 10%;
    padding-right: 15%;
}
  
.box ul li span {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #573D37;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 3%;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
  }
  

.inputText {
    width: 80%;
    padding: 1%;
    font-size: 100%;
}

.sBtn {
    padding: 1%;
    margin: 0 2%;
}

button#search.sBtn {
    border: 1px solid #d83e00;
    border-radius: 5px;
    background-color: #573D37;
    color: white;
    font-weight: bolder;

}

button#add.sBtn {
    border: 1px solid #d83e00;
    border-radius: 5px;
    background-color: #573D37;
    color: white;
    font-weight: bolder;
    padding: 1%;

}

div#ingredients-div.column {
    border: 1px solid black;
    border-radius: 10px;
    border-color: #d83e00;
}

div#saved-recipe.column {
    margin: 2% 0;
    border: 1px solid black;
    border-radius: 10px;
    border-color: #d83e00;
    min-height: 100px;
}

ul#ingredient-list.foodList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


li.ingredient-item {
    flex: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 25px;
    margin-top: 25px;
}

.remove-btn {
    flex: 1 0 2%;
    margin-left: 5px;
    background-color: #d83e00;
    color: white;
}

.health-options{
    margin: 1%;
}

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    border-color: #d83e00;
    min-height: 100px;
}

.recResults {
    width: 100%;
    text-align: left;
}

#saved-recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0%;
}

.recipe {
    z-index: 1;
    flex: 0 0 33%;
    justify-content: center;
    margin-bottom: 3%;
    background-color: white;
    border-radius: 5%;
}

.recipe-name {
text-align: center;

}

.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 2%;
}

.recipe-info {
    text-align: center;
}


li.instructions {
    display: list-item;
    list-style-position: inside;
    margin-top: 5%;
}

li img {
    height: 150px;
    border: black 5px solid;
    border-radius: 10px;
}

input.user-ingredient {
    margin-top: 2%;
    padding: 1%;
    width: 30%;
}


/* Drinks specific css */

div.columns.cktResultsContainer {
    border: 1px solid #d83e00;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
    min-height: 100px;
    width: 100%;
    margin-top: 2%;
}

div.columns.cocktailSearch {/*this is the div containting search funtionality*/
    border: 1px solid #d83e00;
    border-radius: 10px;
    padding: 2%;
    width: 100%;
    margin-top: 2%;
}

div#cocktail {
    width: 100%;
}

ul#cocktail-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

ul#cocktail-list > p{
    display: none;
}

.drnkResults {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-evenly;
    margin: 0 2%;
    
}

button.drinkSave {
    display: flex;
    justify-content: center;
    flex: 0 1 10%;
    padding: 2% 5%;
    border-radius: 5px;
    color: white;
    background-color: #573D37;
    border: 1px solid #d83e00;
    font-weight: bolder;
    width: 50%;
    margin: 0 25%;
}

.drnkNm {
    display: block;
    margin: 2% 0;
}

button#drinkSearchBtn {
    border: 1px solid #d83e00;
    border-radius: 5px;
    background-color: #573D37;
    color: white;
    font-weight: bolder;
    padding: 1%;
}


.drnkResults > img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#past-cocktails {
  
    padding-top: 4%;
}

#past-cocktails img {
    width: 75%;
    max-width: 75%;
    height: auto;    
    border: black 5px solid;
    border-radius: 10px;
}

#cocktail-list li {
    font-size: 16px;
    text-align: center;
}

button.save-btn {
    margin: 2% 40%;
    color: white;
    padding: 2% 5%;
    background-color: #573D37;
    border-radius: 10px;
    
}

button.delete-btn {
    margin: 2% 37%;
    color: white;
    padding: 2% 5%;
    background-color: #573D37;
    border-radius: 10px;
    
}

div.columns.cocktailSearch {
    border: 1px solid #d83e00;
    border-radius: 10px;
    padding: 2%;
    width: 100%;
}

div#cocktail {
    width: 100%;
}

div.columns.cktResultsContainer {
    border: 1px solid #d83e00;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;

}

ul#cocktail-list {
    display: flex;
    flex-wrap: wrap;
}

input.user-ingredient {
    margin-top: 2%;
    padding: 1%;
    width: 30%;
}

button#drinkSearchBtn {
    padding: 1%;
    border: 1px solid #d83e00;

}

.underlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

#saved-recipe {
    position: relative;
}

#ingredients-div {
    position: relative;
}

#recipe-container {
    position: relative;
}

#cocktail-div {
    position: relative;
}

#past-cocktails > button {
    background-color:#573D37
}

.clrBtn {
    background-color:#573D37;
    padding: 2% 4%;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}